<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BF Jones PDF Component</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="containerFaux">
        <div id="smoke-yearbook-container">
            <img src="/Assets/0001.jpg" alt="" class="pdfPreviewImage">
            <div class="pdfPreviewButtons">
                <a href="" target="_blank">View Yearbook</a>
                <a href="" target="_blank">Download Yearbook</a>
            </div>
        </div>
    </div>
</body>
</html>

